<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <mongo:mongo-client id="mongoClient" host="localhost" port="27017" />

    <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg ref="mongoClient" />
        <constructor-arg name="databaseName" value="cssg" />
        <property name="writeConcern" value="SAFE"></property>

    </bean>
    <context:annotation-config />
    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven />

    <!-- 启用@AspectJ 支持 -->
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator" />

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
            </list>
        </property>
    </bean>

    <!-- 自动扫描的包名 -->
    <context:component-scan base-package="business.controller">
        <context:include-filter type="regex" expression=".*Controller" />
    </context:component-scan>
    <context:component-scan base-package="business.repo">
        <context:include-filter type="regex" expression=".*Repository" />
    </context:component-scan>
    <context:component-scan base-package="business.service">
        <context:include-filter type="regex" expression=".*Service" />
    </context:component-scan>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
</beans>